version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: 123456
    ports:
      - "3306:3306"
    volumes:
      - /opt/docker/mysql/conf/my.cnf:/etc/mysql/my.cnf
      - /opt/docker/mysql/logs:/logs
      - /opt/docker/mysql/data:/var/lib/mysql

  redis:
    image: redis:7.0
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    command: ["redis-server", "--bind", "0.0.0.0", "--protected-mode", "no"]
    volumes:
      - /opt/docker/redis/data:/data

  minio:
    image: minio/minio:latest
    container_name: minio
    restart: always
    ports:
      - "9000:9000"   # API
      - "9001:9001"   # 控制台
    environment:
      # 账号密码
      MINIO_ROOT_USER: minio_admin
      MINIO_ROOT_PASSWORD: minio123
      # 控制台访问地址
      #MINIO_BROWSER_REDIRECT_URL: https://minio.cloudflow.top/ui
    command: server /data --console-address ":9001"
    volumes:
      - /opt/docker/minio/data:/data

  nacos:
    image: nacos/nacos-server:v2.4.2
    container_name: nacos
    restart: always
    ports:
      - "8848:8848"
      - "9848:9848"
      - "9849:9849"
    environment:
      - MODE=standalone
      - PERSISTENCE=true
      - MYSQL_HOST=127.0.0.1
      - MYSQL_PORT=3306
      - MYSQL_USER=root
      - MYSQL_PASSWORD=123456
      - MYSQL_DATABASE=nacos_config
    depends_on:
      - mysql
    volumes:
      - /opt/docker/nacos/data:/home/nacos/data

volumes:
  mysql_data:
  redis_data:
  minio_data:
  nacos_data:
