<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.basic.framework.oauth2.storage.mybatis.mapper.MybatisOAuth2AuthorizationMapper">

    <resultMap id="BaseResultMap" type="com.basic.framework.oauth2.storage.mybatis.domain.MybatisOAuth2Authorization">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="registeredClientId" column="registered_client_id" jdbcType="VARCHAR"/>
        <result property="principalName" column="principal_name" jdbcType="VARCHAR"/>
        <result property="authorizationGrantType" column="authorization_grant_type" jdbcType="VARCHAR"/>
        <result property="authorizedScopes" column="authorized_scopes" jdbcType="VARCHAR"
                typeHandler="com.basic.framework.mybatis.plus.handler.type.BasicCollectionTypeHandler"/>
        <result property="attributes" column="attributes" jdbcType="VARCHAR"/>
        <result property="state" column="state" jdbcType="VARCHAR"/>
        <result property="authorizationCodeValue" column="authorization_code_value" jdbcType="VARCHAR"/>
        <result property="authorizationCodeIssuedAt" column="authorization_code_issued_at" jdbcType="TIMESTAMP"/>
        <result property="authorizationCodeExpiresAt" column="authorization_code_expires_at" jdbcType="TIMESTAMP"/>
        <result property="authorizationCodeMetadata" column="authorization_code_metadata" jdbcType="VARCHAR"/>
        <result property="accessTokenValue" column="access_token_value" jdbcType="VARCHAR"/>
        <result property="accessTokenIssuedAt" column="access_token_issued_at" jdbcType="TIMESTAMP"/>
        <result property="accessTokenExpiresAt" column="access_token_expires_at" jdbcType="TIMESTAMP"/>
        <result property="accessTokenMetadata" column="access_token_metadata" jdbcType="VARCHAR"/>
        <result property="accessTokenType" column="access_token_type" jdbcType="VARCHAR"/>
        <result property="accessTokenScopes" column="access_token_scopes" jdbcType="VARCHAR"/>
        <result property="refreshTokenValue" column="refresh_token_value" jdbcType="VARCHAR"/>
        <result property="refreshTokenIssuedAt" column="refresh_token_issued_at" jdbcType="TIMESTAMP"/>
        <result property="refreshTokenExpiresAt" column="refresh_token_expires_at" jdbcType="TIMESTAMP"/>
        <result property="refreshTokenMetadata" column="refresh_token_metadata" jdbcType="VARCHAR"/>
        <result property="oidcIdTokenValue" column="oidc_id_token_value" jdbcType="VARCHAR"/>
        <result property="oidcIdTokenIssuedAt" column="oidc_id_token_issued_at" jdbcType="TIMESTAMP"/>
        <result property="oidcIdTokenExpiresAt" column="oidc_id_token_expires_at" jdbcType="TIMESTAMP"/>
        <result property="oidcIdTokenMetadata" column="oidc_id_token_metadata" jdbcType="VARCHAR"/>
        <result property="oidcIdTokenClaims" column="oidc_id_token_claims" jdbcType="VARCHAR"/>
        <result property="userCodeValue" column="user_code_value" jdbcType="VARCHAR"/>
        <result property="userCodeIssuedAt" column="user_code_issued_at" jdbcType="TIMESTAMP"/>
        <result property="userCodeExpiresAt" column="user_code_expires_at" jdbcType="TIMESTAMP"/>
        <result property="userCodeMetadata" column="user_code_metadata" jdbcType="VARCHAR"/>
        <result property="deviceCodeValue" column="device_code_value" jdbcType="VARCHAR"/>
        <result property="deviceCodeIssuedAt" column="device_code_issued_at" jdbcType="TIMESTAMP"/>
        <result property="deviceCodeExpiresAt" column="device_code_expires_at" jdbcType="TIMESTAMP"/>
        <result property="deviceCodeMetadata" column="device_code_metadata" jdbcType="VARCHAR"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="BaseResponseResultMap"
               type="com.basic.framework.oauth2.storage.core.domain.response.FindAuthorizationPageResponse">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="registeredClientId" column="registered_client_id" jdbcType="VARCHAR"/>
        <result property="principalName" column="principal_name" jdbcType="VARCHAR"/>
        <result property="authorizationGrantType" column="authorization_grant_type" jdbcType="VARCHAR"/>
        <result property="authorizedScopes" column="authorized_scopes" jdbcType="VARCHAR"
                typeHandler="com.basic.framework.mybatis.plus.handler.type.BasicCollectionTypeHandler"/>
        <result property="authorizationCodeValue" column="authorization_code_value" jdbcType="VARCHAR"/>
        <result property="authorizationCodeIssuedAt" column="authorization_code_issued_at" jdbcType="TIMESTAMP"/>
        <result property="authorizationCodeExpiresAt" column="authorization_code_expires_at" jdbcType="TIMESTAMP"/>
        <result property="accessTokenValue" column="access_token_value" jdbcType="VARCHAR"/>
        <result property="accessTokenIssuedAt" column="access_token_issued_at" jdbcType="TIMESTAMP"/>
        <result property="accessTokenExpiresAt" column="access_token_expires_at" jdbcType="TIMESTAMP"/>
        <result property="accessTokenType" column="access_token_type" jdbcType="VARCHAR"/>
        <result property="accessTokenScopes" column="access_token_scopes" jdbcType="VARCHAR"/>
        <result property="refreshTokenValue" column="refresh_token_value" jdbcType="VARCHAR"/>
        <result property="refreshTokenIssuedAt" column="refresh_token_issued_at" jdbcType="TIMESTAMP"/>
        <result property="refreshTokenExpiresAt" column="refresh_token_expires_at" jdbcType="TIMESTAMP"/>
        <result property="oidcIdTokenValue" column="oidc_id_token_value" jdbcType="VARCHAR"/>
        <result property="oidcIdTokenIssuedAt" column="oidc_id_token_issued_at" jdbcType="TIMESTAMP"/>
        <result property="oidcIdTokenExpiresAt" column="oidc_id_token_expires_at" jdbcType="TIMESTAMP"/>
        <result property="userCodeValue" column="user_code_value" jdbcType="VARCHAR"/>
        <result property="userCodeIssuedAt" column="user_code_issued_at" jdbcType="TIMESTAMP"/>
        <result property="userCodeExpiresAt" column="user_code_expires_at" jdbcType="TIMESTAMP"/>
        <result property="deviceCodeValue" column="device_code_value" jdbcType="VARCHAR"/>
        <result property="deviceCodeIssuedAt" column="device_code_issued_at" jdbcType="TIMESTAMP"/>
        <result property="deviceCodeExpiresAt" column="device_code_expires_at" jdbcType="TIMESTAMP"/>
        <result property="createBy" column="create_by" jdbcType="BIGINT"/>
        <result property="updateBy" column="update_by" jdbcType="BIGINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,registered_client_id,principal_name,
        authorization_grant_type,authorized_scopes,authorization_code_value,
        authorization_code_issued_at, authorization_code_expires_at,
        access_token_value,access_token_issued_at,access_token_expires_at,
        access_token_type,access_token_scopes,refresh_token_value,
        refresh_token_issued_at,refresh_token_expires_at,oidc_id_token_value,
        oidc_id_token_issued_at,oidc_id_token_expires_at,user_code_value,
        user_code_issued_at,user_code_expires_at,device_code_value,device_code_issued_at,
        device_code_expires_at,create_by,update_by,create_time,update_time
    </sql>

    <sql id="Response_Column_List">
        id
        ,registered_client_id,principal_name,
        authorization_grant_type,authorized_scopes,attributes,
        state,authorization_code_value,authorization_code_issued_at,
        authorization_code_expires_at,authorization_code_metadata,access_token_value,
        access_token_issued_at,access_token_expires_at,access_token_metadata,
        access_token_type,access_token_scopes,refresh_token_value,
        refresh_token_issued_at,refresh_token_expires_at,refresh_token_metadata,
        oidc_id_token_value,oidc_id_token_issued_at,oidc_id_token_expires_at,
        oidc_id_token_metadata,oidc_id_token_claims,user_code_value,
        user_code_issued_at,user_code_expires_at,user_code_metadata,
        device_code_value,device_code_issued_at,device_code_expires_at,
        device_code_metadata,create_by,update_by,
        create_time,update_time
    </sql>

    <select id="selectConditionPage" resultMap="BaseResponseResultMap">
        SELECT
        <include refid="Response_Column_List"/>
        FROM oauth2_authorization
        <where>
            <if test="request.registeredClientId != null and request.registeredClientId != ''">
                AND registered_client_id = #{request.registeredClientId}
            </if>
            <if test="request.authorizationGrantType != null and request.authorizationGrantType != ''">
                AND authorization_grant_type = #{request.authorizationGrantType}
            </if>
            <if test="request.authorizationCodeIssuedStart != null and request.authorizationCodeIssuedStart != '' and request.authorizationCodeIssuedEnd != null and request.authorizationCodeIssuedEnd != ''">
                AND authorization_code_issued_at BETWEEN #{request.authorizationCodeIssuedStart} AND
                #{request.authorizationCodeIssuedEnd}
            </if>
            <if test="request.accessTokenIssuedStart != null and request.accessTokenIssuedStart != '' and request.accessTokenIssuedEnd != null and request.accessTokenIssuedEnd != ''">
                AND access_token_issued_at BETWEEN #{request.accessTokenIssuedStart} AND #{request.accessTokenIssuedEnd}
            </if>
        </where>
        ORDER BY update_time DESC
    </select>
</mapper>
